/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.enemy {
  fill: green;
}
#scores {
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #ddd;
  text-align: right;
  border-radius: 3px;
}
#scores span {
  display: inline-block;
  width: 50px;
}
.svg {
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  background: black;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.area {
  fill: lightsteelblue;
}

.line, circle.area {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.area {
  fill: #fff;
}

.player{
  fill: pink;
}