/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.container {
        position: relative;
        box-shadow: 0px 0px 10px rgba(0,0,0,1);
        width: 700px;
      }
